@font-face {
    font-family: 'SourceSerifPro';
    font-style: normal;
    font-weight: 400;
    src: url('../otf/SourceSerifPro-Regular.otf');
}

@font-face {
    font-family: 'SourceSerifPro';
    font-style: normal;
    font-weight: 700;
    src: url('../otf/SourceSerifPro-Bold.otf');
}