html {
    background-color: #002b36;
}

body {
    margin: 0;
    padding: 0;
}

pre {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
    cursor: pointer;
}

.smiley {
    font-size: 3em;
}

#terminal {
    font-family: monospace !important;
    max-width: 50em;
}

div.Terminal div p:last-of-type::before {
    content: attr(data-prompt);
}